/* Add a black background color to the top navigation */
.topnav {
    background-color: #ffffff;
    overflow: hidden;
    float: right;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

body {
    background-image: url(../images/stardust.png);
}


#logo {
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 58px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
}

#header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    background-color: #ffffff;
    border-color: #cccccc;

}

#img {
    float: left;
    clear: right;
    height: 150px;
    width: auto;

}

.content {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-color: #ffffff;
    border-color: #dddddd;
    width: 650px;

}

.connectme {
    width: 270px;
    text-align: center;
    float: right;
    clear: both;
}

.icon {
    width: 25px;
    height: auto;
}

.footer {
    background-color: #666666;
    text-align: center;
    color: #CCCCCC;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 50px 30px 50px 30px

}